#sign-up{
    width: 30%;
    height: 500px;
    border: 0px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.601),0px 0px 5px rgba(128, 128, 128, 0.601),0px 0px 5px rgba(128, 128, 128, 0.601),0px 0px 5px rgba(128, 128, 128, 0.601),0px 0px 5px rgba(128, 128, 128, 0.601),0px 0px 5px rgba(128, 128, 128, 0.601);
    border-radius: 10px;
}
.input-sec{
    padding: 0px 200px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-top: 10px;
    height: 30px;
}
.label-sec{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
    font-weight: bold;
    text-align: left;
}
.sign{
    margin-top: 15px;
}
#signup-section{
    margin-top: 20px;
    text-align: left;
    margin-left: 20px;
    border-bottom: 1px dotted black;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}
.sec-p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: lighter;
    
}
#btn-sec{
   
    width: 100%;
    margin-top: 30px;
}
#check-sec{
    
    margin-top: 15px;
}
#check-p{
    display: inline;

}
#check{
    margin-left: 20px;
    margin-right: 20px;
}
#sign-h1{
    margin-top: 30px;
    text-align: center;
}
#text-p{
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
#btn-sec-sign{
    margin-left: 750px;
    margin-top: 5px;
    border: none;
    color: black;
}


